@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

/* Whole Site */

html {
    font-size: 16px;
    height: 100%;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /*background-color: black;*/
}

h1 {
    font-size: 45px;
}

button {
    padding: 9px 25px;
    border: none;
    border-radius: 50px;
    cursor:
    transition: all 0.3s ease 0s;
    background-color: #00AAA9;
    color: #28161C;
}

button:hover {
    background-color: rgba(0,136,169,0.8);
    cursor: pointer;
}


/* NAVIGATION */

li, a, button {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background-color: black;
    height: 83px;
    transition: all 1s ease;
}

.header-toggle {
    height: 150px!important;
}

.logo {
    cursor: pointer;
    max-width: 60px;
}

.nav_links {
    list-style: none;
    display: none;
    transition: all 1s ease;
}

.nav_links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav_links li a {
    transition: all 0.3s ease 0s;
    color: #B9B9B9;
}

.nav_links li a:hover {
    color: #00AAA9;
}

.main-navigation {
    display: flex;
    flex-direction: row;
    justify-content: center;
    transition: all 1s ease;
}

.contact-button {
    display: none;
}

.nav_links > li {
    margin: .5em auto;
}

.navbar-visible {
    display: flex !important;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    transition: all 1s ease;}

/* Front Page */

body {
    background-image: url("Images/patrick-hendry-37ZuGYD3JOk-unsplash.jpg");
    height: 100%;
    width: 100%;
}

.hero {
    background-image: url("https://www.canva.com/design/DAFBn_3itBw/ZtNEy85H-oBCCmagbfjBxQ/watch?utm_content=DAFBn_3itBw&utm_campaign=share_your_design&utm_medium=link&utm_source=shareyourdesignpanel");
}

body > main > div {
    background-size: cover;
}

.top-container {
    height: 100vh;
}

.main-content-wrapper{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    position: relative;
    height: 100vh;
}

.main-heading {
    width: 90%;
    display: flex;
    flex-direction: column;
    
}

.main-heading-text {
    margin-top: 2rem;
    margin-left: 0.5rem;
    margin-bottom: 25px;
}

/* (main buttons on home) */
.button-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.heading-cta {
    width: 25%;
}

a.heading-cta {
    flex-grow: 1;
    flex: 1;
    text-align: start;
}

button.heading-cta-button {
    min-width: 150px;
}

/* First Button */

#hiddenDetails {
    max-width: 100%;
    margin-top: 2em;
    background-image: linear-gradient(45deg, gray, black);
    border-radius: 15px;
    display: none;
}

.hiddenBorder {
    padding: 1rem;
    border: 5px solid #00AAA9;
    border-radius: 15px;
}

#hiddenDetails > p {
    color: white;
}

/* Second Button */

#hiddenForm {
    margin: 1.5em;
}

#hiddenFormResults {
    display: none;
}

/* Right section of homepage (joke generator) */

.joke-container {
    margin: 0 auto;
}

.joke-generator {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin: 2rem auto 3rem;
    padding: 10px;
    border: 1px solid black;
    border-radius: 25px;
    height: 300px;
    background-color: rgba(189, 195, 199, 1);
}

.joke-heading {
    text-align: center;
}

.joke-heading h2 {
    font-size: 27px;
}

.joke-button-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.joke-button {
    text-align: center;
}

.joke-button button {
    font-size: 14px;
}

.joke-output {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: 25px;
    /*max-width: 500px;
    margin-top: 50px;
    margin-bottom: 50px;
    height: 100px;*/
}

.output {
    font-size: 25px;
    max-width: 500px;
}
.output-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.punchline-output {
    display: none;
}

/* PORTFOLIO PAGE */

.portfolio-image-main-container {
    display: flex;
}

.portfolio-image-cont {
    height: 300px;
    width: 275px;
    position: relative;
    display: flex;
}

.portfolio-image {
    display: block;
    width: 100%;
    height: 100%;
}

.formStyles {
    justify-content: center;
    margin: 2em auto;
}


.footer {
    text-align: center;
    position: sticky;
    bottom: 0;
    height: 50px;
    background-color: black;
    color: white;
    width: 100%;*/
}

/* Media Queries */

@media screen and (min-width: 300px) {
    .second-cta {display: none;}
}

@media screen and (min-width: 500px) {
    .second-cta {display: initial;}
}

@media screen and (max-width: 800px) {
    .main-navigation {flex-direction: column;}
}

@media screen and (min-width: 800px) {
    .hamburger {display: none;}
    .contact-button {display: block;}
    .nav_links {display: flex;}
}

.fa-solid .fa-bars {
    color: white;
    height: 50px;
}















