@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

/*****************
    WHOLE SITE
*****************

.all-wrapper {
    margin: auto;
    width: 100vw;
    height: 100vh;
    background-image: url('../Images/patrick-hendryNEW-37ZuGYD3JOk-unsplash.jpg');
    background-position: center;
    background-size: cover;
}

html {
    font-size: 16px;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    height: 100%;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 45px;
}

button {
    padding: 9px 25px;
    border: none;
    border-radius: 50px;
    cursor:
    transition: all 0.3s ease 0s;
    background-color: #00AAA9;
    color: #28161C;
}

button:hover {
    background-color: rgba(0,136,169,0.8);
    cursor: pointer;
}

button:active {
    background-color: #00AAA9;
}


/*****************
    NAVIGATION
*****************

li, a, button {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background-color: black;
    height: 83px;
    transition: all 1s ease;
}

.header-toggle {
    height: 150px!important;
}

.logo {
    cursor: pointer;
    max-width: 60px;
}

.nav_links {
    list-style: none;
    display: none;
    transition: all 1s ease;
}

.nav_links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav_links li a {
    transition: all 0.3s ease 0s;
    color: #B9B9B9;
}

.nav_links li a:hover {
    color: #00AAA9;
}

.main-navigation {
    display: flex;
    flex-direction: row;
    justify-content: center;
    transition: all 1s ease;
}

.contact-button {
    display: none;
}

.nav_links > li {
    margin: .5em auto;
}

.navbar-visible {
    display: flex !important;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    transition: all 1s ease;}


/*****************
    FOOTER
*****************

footer {
   display: none;
}

/*****************
    FRONT PAGE
*****************

body {
    background-image: url("Images/patrick-hendry-37ZuGYD3JOk-unsplash.jpg");
    height: 100%;
    width: 100%;
}

.hero {
    background-image: url("https://www.canva.com/design/DAFBn_3itBw/ZtNEy85H-oBCCmagbfjBxQ/watch?utm_content=DAFBn_3itBw&utm_campaign=share_your_design&utm_medium=link&utm_source=shareyourdesignpanel");
}

body > main > div {
    background-size: cover;
}

.top-container {
    height: 100vh;
}

.main-content-wrapper{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    position: relative;
    width: 95%;
    margin: auto;
}

.main-heading {
    width: 100%;
    display: flex;
    flex-direction: column;
    
}

.main-heading-text {
    margin-top: 2rem;
    margin-left: 0.5rem;
    margin-bottom: 25px;
}

/* FRONT PAGE BUTTONS */

/* primary buttons 

.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}

/*.button-container a {
    width: 100%;
}

.heading-cta {
    display: flex;
    justify-content: center;
    text-align: center;
}


.heading-cta button {
    width: 90%;
    min-width: 100px;
}

#secondButton {
    display: none;
}

/* hidden 
#hiddenDetails {
    max-width: 100%;
    margin-top: 2em;
    background-image: linear-gradient(45deg, gray, black);
    border-radius: 15px;
    display: none;
}

.hiddenBorder {
    padding: 1rem;
    border: 5px solid #00AAA9;
    border-radius: 15px;
}

#hiddenDetails > p {
    color: white;
}

#hiddenForm {
    margin: 1.5em;
    display: none;
}

#hiddenFormResults {
    display: none;
}

/* Right section of homepage (joke generator) 

.joke-container {
    margin: 0 auto;
    width: 100%;
}

.joke-generator {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    max-width: 500px;
    margin: 2rem auto 3rem;
    padding: 10px;
    border: 1px solid black;
    border-radius: 25px;
    height: 300px;
    background-color: rgba(189, 195, 199, 1);
}

.joke-heading {
    text-align: center;
}

.joke-heading h2 {
    font-size: 27px;
}

.joke-button-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 5px;
}

.joke-button {
    text-align: center;
}

.joke-button button {
    font-size: 14px;
}

.joke-output {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: 25px;
}

.output {
    font-size: 25px;
    max-width: 500px;
}
.output-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.punchline-output {
    display: none;
}

/*****************
   PORTFOLIO PAGE
*****************

.portfolio-image-main-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 345px));
    grid-template-rows: 300px 300px;
    justify-content: center;
    gap: 10px;
    grid-auto-columns: 1fr;
    padding: 1rem;
    background-color: #B9B9B9;
}

.portfolio-image-cont img {
    transition: all .4s ease;
}

.portfolio-image-cont img:hover {
    transform: scale(1.04);
}

.portfolio-image-main-container > div {
    width: 100%;
}

.portfolio-image {
    border-radius: 15px;
}

.portfolio-image-cont {
    height: 300px;
    width: 275px;
    position: relative;
    display: flex;
}

.portfolio-image {
    display: block;
    width: 100%;
    height: 100%;
}

.portfolio-image img {
    width: 300px;
}

.formStyles {
    justify-content: center;
    margin: 2em auto;
}


.footer {
    text-align: center;
    position: sticky;
    bottom: 0;
    height: 50px;
    background-color: black;
    color: white;
    width: 100%;
}

.fa-solid .fa-bars {
    color: white;
    height: 50px;
}

/*****************
Variables
*****************/

:root {
    --main-bg-color: #FAF8FF;
    --main-dark-accent: #181818;
    --accent-one: #8685EF;
    --accent-two: #D3FBD8;
}


/*****************
Global Styles
******************/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
}

a:-webkit-any-link {
    color: unset;
    cursor: pointer;
    text-decoration: none;
}

header {
    background-color: var(--main-dark-accent);
    height: 50vh;
}


/*navigation*/

.main-navigation {
    height: 100px;
    transition: all 1s ease;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 110px;
    margin: 0 auto;
    padding: 0 15px;
}

#nav-headshot {
    border-radius: 100px;
    width: 75px;
    margin: 10px 0 ;
}

.fa-2x {
    font-size: 1.75em!important;
}

#logo {
    padding: 0px;
}

nav > ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 20px;
    list-style-type: none;
    padding-right: 25px;
}

.hamburger {
    margin-right: 10px;
    color: var(--main-bg-color);
    background-color: transparent;
    border: none;
}

.fa-solid .fa-bars {
    height: 50px;
}

.navbar-visible {
    display: flex!important;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    transition: all 1s ease;
    border: none;
    margin-right: 18px;
}

.header-toggle {
    height: 133px!important;
    background-color: var(--accent-one);
    justify-content: space-between;

}

/*Test*/


.cta-buttons {
    display: flex;
    flex-direction: row;
    gap: 15px;
    justify-content: flex-start;
}

.normal-button, .special-button {
    color: var(--main-bg-color);
    border: 1px solid var(--main-bg-color);
    border-radius: 3px;
    min-width: 110px;
    max-width: 150px;px;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    list-style-type: none;
}

.special-button {
    background-color: var(--accent-one);
}

#logo {
    height: 100px;
}

footer {
    display: none;
}

/*****************
dev.index.html
******************/

#header-main-container {
    height: calc(50vh - 100px);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#main-home-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 100%;
}

#left-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 90%;
    padding: 1rem;
    margin: 0px 0 4rem 1rem;
}

#right-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 50%;
}

#headshot {
    border-radius: 100px;
    margin: 0 3.5rem 4rem 0;
}

/*typing cursor*/
.typing-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    margin-bottom: .75rem;
    padding: 10px;
    padding: 10px 10px 10px 0;
}

.typing-container * {
    color: white;
}

.typing-text {
    color: var(--main-bg-color);
    font-size: 21px;
}

.input-cursor {
    display: inline-block;
    width: 2px;
    height: 42px;
    background-color: white;
    margin-left: 8px;
    animation: blink .6s linear infinite alternate;
}

@keyframes blink {
    0% {opacity: 1;}
    40% {opacity: 1;}
    60% {opacity: 0;}
    100% {opacity: 0;}
  }













