/*****************
    MEDIA QUERIES
*****************/

@media screen and (max-width: 799px) {
    .nav_links li {border: none; background-color: transparent;}
}

@media screen and (min-width: 0px) {
    .nav-links {display: none;}
    .nav-links span {display: none;}
    .resume-link {border: 0; padding: 0; background-color: transparent;}
    #inner-containers-one {flex-direction: column;}
    #left-container {width: 100%;}
    #right-container {display: none;}
    #logo {display: none;}
    nav > ul {gap: 0; padding-right: 0;}
    .introduction {font-size: 34px;}
    .typing-text {font-size: 20px;}
    .footer {padding: 0 1rem; font-size: 14px;}
    #column1 {display: none;}
}

@media screen and (min-width: 420px) {
    .introduction {font-size: 38px;}
    .typing-text {font-size: 27px;}
}

@media screen and (min-width: 600px) {
    #right-container {display: flex;}
    #nav-headshot {display: none;}
    #headshot {width: 10rem;}
    #logo {display: flex;}
    #left-container {width: 70%;}
    #right-container {width: 30%;}
    .typing-text {font-size: 24px;}
    #column1 {display: initial;}
}

@media screen and (max-height: 550px) and (orientation: landscape) {
    #left-container, #right-container {height: 100%;}
    #header-main-container {margin: 0 1rem;}
}

@media screen and (min-width: 550px) {

}

@media screen and (min-width: 700px) {
    #left-container {width: 60%;}
    #right-container {width: 40%;}
    .introduction {font-size: 42px;}
    .typing-text {font-size: 26px;}
    #headshot {width: 218px; border: 2px dotted var(--accent-two);}
    #intro-container {margin-top: 9rem;}
    .intro-line-two {font-size: 50px;}
    .intro-line-three {font-size: 40px;}
}

@media screen and (min-width: 800px) {
    .hamburger {display: none;}
    .nav-links {display: flex; align-items: center; gap: 1.5rem; margin-right: 2rem;}
    .nav-links span {display: initial;}
    .resume-link {border: 1px solid var(--main-bg-color); padding: 10px; background-color: var(--accent-one);}
    #headshot {width: 15rem; width: 275px}
    .introduction {font-size: 50px;}
    .typing-text {font-size: 29px;}
    #inner-containers-one {flex-direction: row; flex-wrap: wrap;}
}

@media screen and (min-width: 900px) {
    #intro-container {margin-top: 11rem;}
    .intro-line-two {font-size: 60px;}
    .intro-line-three {font-size: 50px;}
}

@media screen and (min-width: 1000px) {
    .introduction {font-size: 67px;}
    .typing-container {margin-bottom: 1.25rem;}
    .typing-text {font-size: 36px;}
    #headshot {width: 300px;}
}

@media screen and (min-width: 1300px) {
    .introduction {font-size: 88px;}
    .typing-text {font-size: 47px;}
    #left-container {margin-left: 4rem;}
}

@media screen and (min-width: 1500px) {
    /*.skills-container {background-color: transparent; border: 0px;}*/
    .skill .title {font-size: 21px;}
    .skill-per .tooltip {font-size: 14px;}
    .joke-heading {font-size: 27px;}
    .joke-output, .punchline-output {font-size: 20px;}
    .generator-button {font-size: 17px;}
    #intro-container {margin-top: 13rem;}
    .intro-line-two {font-size: 70px;}
    .intro-line-three {font-size: 60px;}
}

@media screen and (min-width: 2000px) {
    #headshot {width: 500px;}
    #header-main-container {}
    .introduction {font-size: 100px;}
    #left-container {width: 50%;}
    #right-container {width: 50%;}
    .joke-container, .skills-container, {max-width: 48rem;}
    #intro-container {margin-top: 13rem;}
    .intro-line-one {font-size: 21px;}
    .intro-line-two {font-size: 80px;}
    .intro-line-three {font-size: 70px;}
    .intro-par {font-size: 23px;}
}